.Superior_Inferior{
    background-color: crimson;
    color: white;

}
.Azul{
    background-color: blue;
    color: white;
}
.Blanco{
    color:  blue;
    background-color: white;
}
.Negrita{
    font-weight: bold;
}