@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.titulo{
  font-family: "Delius", cursive;;
  background-color: #E8C4B8;
  color: #3E3E3E;
}
.TablaOpciones{
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.9em;
  color: #F5F3F0;
  background-color: #A67C68;
}