
.Footer{
    background-color: #9e887d;
    color: #F5F3F0;
}
.AcordeonBoton{
    background-color: #9e887d;
    color: #F5F3F0;
}
.AcordeonBody{
    background-color: #9e887d;
    color: #F5F3F0;
}